      * {
          box-sizing: border-box;
          margin: 0%;
          padding: 0%;
      }
      
      body {
          font-family: 'Public Sans', sans-serif;
      }
      
      .contenar {
          display: flex;
          flex-direction: row;
      }
      
      .flex-item1 {
          flex: 0 0 455px;
          border-radius: 16px;
          margin: 15px 15px 15px 15px;
          padding-bottom: 75px;
          padding-left: 30px;
          box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
      }
      
      h3 {
          padding-top: 100px;
          font-weight: 700;
          font-size: 2.2rem;
      }
      
      .side {
          width: 32px;
          float: right;
          margin-top: -8%;
      }
      
      img {
          width: 100px;
          padding-top: 50px;
          cursor: pointer;
      }
      
      .girl2 {
          width: 100%;
      }
      
      .sidebar {
          width: auto;
          padding-top: 4rem;
          font-size: 0.875rem;
          margin-top: -15px;
      }
      
      .flex-item2 {
          flex: 0 0 780px;
          padding: 200px 0px 50px 290px;
      }
      
      #text {
          color: gray;
      }
      
      .from_div1 {
          display: flex;
          flex-direction: row;
          column-gap: 3.3rem;
          height: 48px;
          position: relative;
          margin-bottom: 1.5rem;
      }
      
      .from_div {
          position: relative;
          height: 48px;
          margin-bottom: 1.5rem;
      }
      
      .from_input {
          width: 100%;
          height: 100%;
          font-size: medium;
          border: 1px solid rgb(210, 220, 210);
          border-radius: 8px;
          outline: none;
          padding: 25px 10px;
          background-color: none;
          align-items: center;
          z-index: 1;
      }
      
      .from_input:hover {
          border: 1px solid black;
      }
      
      .from_label {
          position: absolute;
          left: 1rem;
          top: 0.5rem;
          padding-top: 8px;
          background-color: white;
          font-size: 1rem;
          transition: .3s;
          font-weight: 400;
          color: gray;
          cursor: text;
      }
      
      .from_input:focus {
          border: 2px solid #00AB55;
      }
      
      .from_input:focus~.from_label,
      .from_input:not(:placeholder-shown).from_input:not(:focus)~.from_label {
          top: -0.8rem;
          left: 0.5rem;
          padding: 5px;
          font-size: 13px;
          color: #00AB55;
      }
      
      #button {
          left: 1rem;
          width: 100%;
          height: auto;
          padding: .9rem;
          border-radius: .5rem;
          background-color: #00AB55;
          color: white;
          font-size: medium;
          border: 1px solid #00AB55;
          cursor: pointer;
      }
      
      #button:hover {
          background-color: #007B55;
      }
      
      .get {
          color: #00AB55;
          text-decoration: none;
          font-weight: bold;
      }
      
      .get:hover {
          text-decoration: underline;
          text-decoration-color: gray;
      }
      
      #sub {
          color: gray;
          font-size: small;
          text-align: center;
      }
      
      .a1 {
          color: gray;
      }
      
      @media screen and (min-width:300px) and (max-width:599px) {
          .contenar {
              display: block;
          }
          .girl2,
          h3 {
              display: none;
          }
          .flex-item1 {
              display: block;
              border: none;
              box-shadow: none;
              height: 0px;
              padding: 0px;
          }
          img {
              margin-top: -30px;
              margin-left: 10px;
          }
          .flex-item2 {
              padding: 5px;
              max-width: max-content;
              margin-top: 80px;
              margin-left: 10px;
              margin-right: 10px;
          }
          .sidebar {
              text-align: center;
          }
      }
      
      @media screen and (min-width:600px) and (max-width:899px) {
          .contenar {
              display: block;
          }
          .girl2,
          h3 {
              display: none;
          }
          .flex-item1 {
              display: block;
              border: none;
              box-shadow: none;
              height: 0px;
              padding: 40px;
          }
          img {
              margin-top: -60px;
              margin-left: -5px;
          }
          .flex-item2 {
              max-width: max-content;
              padding: 5px;
              margin: auto;
          }
          .sidebar {
              text-align: center;
          }
      }
      
      @media screen and (min-width:900px) and (max-width:1200px) {
          .flex-item1 {
              height: 99vh;
          }
          h3 {
              font-size: 30px;
              font-weight: 700;
              margin-top: 10px;
          }
          .img2 {
              width: 90%;
              margin-top: 50px;
          }
          .flex-item2 {
              margin: auto;
              padding: 5px;
              font-size: 15px;
              max-width: max-content;
          }
          .from_div1 {
              width: auto;
          }
          .from_label {
              font-size: 15px;
              padding-top: 10px;
          }
          .from_input {
              width: 100%;
          }
          input[type=checkbox] {
              margin-top: 13px;
          }
          #button {
              font-size: 15px;
          }
          .sidebar {
              display: none;
          }
          .sidebar1 {
              text-align: center;
              margin-top: 15px;
              font-size: 15px;
          }
      }